use [mcsdexnacato]

SELECT [ID_column]
      ,[PageName]
      ,[AccessDate]
	  ,[IpValue]
	  ,[LogType]
  FROM [dbo].[accessLogs] order by [ID_column] desc ;

/**********************************/


